@import url(https://fonts.googleapis.com/css?family=Cookie);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
body{
    
    background: url(/4871703.jpg);
    background-size: cover;
    background-repeat:calc();
    background-position: center center;
}
@media screen and (min-width: 375px) and (orientation:portrait){
    #form{
     zoom: 240%;
    }
    .titulo{
        zoom: 220%;
    }
    /*#texto{
        font-size: 40px;
        margin-top: 1px;
    }
    .insta{
        height: 60px;
        padding: 10px 10px;
        font-size: 20px;
        
    }
    .insta1{
        height: 60px;
        padding: 10px 10px;
        font-size: 20px;
    }
    #Mensagem{
        font-size: 40px;
    }
    .titulo
    {
        font-size: 33px;
    }
    #text{
        font-size: 19px;
    }
    #botao{
        font-size: 32px;
    }
*/
}
   
.conteiner{
   
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.form{
    /*background-image: url(/8314.jpg);*/
    display: flex;
    height: 400px;
    width: 400px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 30px 30px;
    background-color: rgb(255, 222, 234);
    box-shadow: 4px 4px 4px 4px rgb(215, 177, 189);

}
.conttitulo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo{
  
    font-family: 'Cookie',sans-serif;
    color: rgb(0, 0, 0);
    font-size: 26px;
    
}
.insta{
    box-sizing: border-box;
    border-radius:18px;
    height: 19px;
    width: 8em;
    
    
}
.insta1
{
    box-sizing: border-box;
    border-radius:18px;
    height: 19px;
    width: 8em;
    
}

.texto{
    font-size: 19px;
    font-family: 'Amatic SC',sans-serif;
    color:black;
    font-weight: bold;
    height: 12px;
}

.Mensagem{
    font-size: 20px;
    font-family:'Amatic SC',sans-serif;
    font-weight: bold;
    color: black;
    height: 15px;
}

.text{
    height: 8em;
    vertical-align: top;
    border:radius 16px;
    position:absolute;
    width: 8em;
    box-sizing: border-box;
    outline: auto;
    resize: none;
}

#text{
    width:240px; 
    border-top: 19px;
    border-radius: 20px;
    box-sizing: border-box;
    height: 7em;
}

.botao{
    border-radius: 10px;
    margin-top: 100px;
    padding-right:100px;
    padding-left: 100px;
    font-family: 'Amatic SC',sans-serif;
    font-size: large;
    font-weight: bold;
    background-color: rgba(250, 104, 104, 0.459);
}

